/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23 Nov 2022, 12:48:33
    Author     : k00274622
*/

body{
    padding:0;
    margin:0;
    background-color:white;
    
}
nav {
    width:100%;
    background-color:#0e7156;
    overflow:auto;
}
.nav ul{
    padding:0;
    margin:0 0 0 150px;
    list-style: none;
}
 .nav li{
    float:left;
     margin:28px;
}
.logo img{
    position:absolute;
     margin-top:29px;
   
}

 .nav a{
    width:100px;
    display:block;
    padding: 6px 5px;
    text-decoration: none;
    font-family:Arial;
    color:#f2f2f2;
    text-align: center;
}
a:hover{
    background-color: grey;
    transition:0.5s;
    text-transform: uppercase;
}
#member_form{
    width:600px;
    margin:auto;
    text-align: left;
    overflow-y:auto;
    height:400px;
}
#formInput{
    margin:auto;
    display:block;
    overflow:hidden;
    float:right;
    padding:0px 0px 0px 40px;
}
#member_form label{
    background-color: white;
    display:block;
    float:left;
    border:0;
    color:black;
    padding:0px 40px 0px 40px;
}
fieldset{
    border:2px solid aquamarine;
    border-radius:15px 50px 30px 5px;
}
fieldset legend{
    color:black;
    font-weight:bolder;
    font-size: larger;
}
.main-title {
    text-align: center;
}

.grid container{
	display:grid;
	text-align:center;
	grid-template-columns:100%;
	margin:80%;
        text-align: center;
}

@media only screen and (mix-width:990px){
.grid-container{ /* Creating the grid */
        width: 80%;
        margin: auto; 
        display: grid;
        grid-template-columns: auto;      
        }
.grid-container{
        display: grid;
        grid-template-columns:repeat(12,8.3%);
         width: 80%;
        }
}


.grid-container{
    grid-template-columns: 100%;
    display:grid;
}


body {
transition: 1.5s;
}
.night-toggle {
width: 33px;
height: 33px;
right: 20px;
top: 20px;
position: absolute;
}
.night-toggle:hover{
cursor: pointer;
}
.moon {
background-color: transparent;
box-shadow: -6px 1px 0 3px #275e8e;
border-left:3px solid #27476D;
border-radius:50%;
width: 20px;
height: 20px;
margin-left:8px;
margin-top:0px;
transition: 2s;
}
.sun {
background-color: #fdd462;
box-shadow: 2px 0px 0px 1px #D19C29;
border-radius:50%;
width: 26px;
height: 26px;
transition: 2s;
}
/* ----- optional ----- */
.break {
flex-basis: 100%;
height: 0;
}
.opt {
display: flex;
flex-wrap: wrap;
justify-content:center;
font-family: sans-serif;
margin-top:5%;
text-align:center;
}



.footer {
                background-color: black;
                padding-bottom: 10%;
                color: black;
                padding: 1em;
                 width:100%;
                 height:60%;
                  overflow:auto;
                text-align: center;
                    }

            .footer, .footer p{
                text-align: center;
                padding: 25px;
                background-color: #0e7156;
                color: black;
                grid-column-start: 1;
                grid-column-end: 13;
            }

            .social-icon,
            .menu {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                flex-wrap: wrap;
                color: white;
                    }

            .social-icon__item,
            .menu__item {
                list-style: none;
                    }

            .social-icon__link {
                font-size: 2rem;
                color: #fff;
                margin: 0 10px;
                display: inline-block;
                transition: 0.5s;
                    }

            .social-icon__link:hover {
                transform: translateY(-10px);
                    }

            .menu__link {
                font-size: 1.2rem;
                color: #fff;
                margin: 0 10px;
                display: inline-block;
                transition: 0.5s;
                text-decoration: none;
                opacity: 0.75;
                font-weight: 300;
                    }

            .menu__link:hover {
                opacity: 10;
                    }
